<h2 style="text-align:center"> Hola {{ customer.name }}! </h2>


    <h2 style="text-align:center">  Tu orden ha sido procesada! <br>
        Se ha completado el procesamiento de tu orden<br>
        {% for i in linea %}
            {% if i.accion == 'devolver' %}
                Se ha procedido a la devolución de {{i.monto_devuelto}} por la devolución de {{i.name}}<br>
 	            Recorda que la devolución se realiza por el mismo método que utilizaste para realizar el pago.<br>
                En caso de pago con tarjeta, dependiendo de la fecha de cierre, 
                el importe podría aparacer en el siguiente período <br>
            {% endif %}
            {% if i.accion == 'cambiar' %}
                Se ha realizado el cambio de {{i.name}} X {{i.accion_cambiar_por_desc}} <br>
	            Ya se generó la nueva orden, en breve recibiras la confirmación del envío <br>
            {% endif %}
        {% endfor %}

        <br>
    </h2>


<h5 style="text-align:center"> Podes hacer el seguimiento de tu orden acá: <br>
        <a href="http://ec2-54-208-172-198.compute-1.amazonaws.com/tracking/{{order.order_number}}">
        http://ec2-54-208-172-198.compute-1.amazonaws.com/tracking/{{order.order_number}}
        </a>