<h2 style="text-align:center"> Hola {{ customer.name }}! </h2>


    <h2 style="text-align:center">  Tu orden ha sido aprobada <br>
        Recibimos tu orden en nuestro alamacén y estamos procediendo a procesarla <br>
        En breve recibiras la confirmación del procesamiento<br>
    </h2>


<h5 style="text-align:center"> Podes hacer el seguimiento de tu orden acá: <br>
        <a href="http://ec2-54-208-172-198.compute-1.amazonaws.com/tracking/{{order.order_number}}">
        http://ec2-54-208-172-198.compute-1.amazonaws.com/tracking/{{order.order_number}}
        </a>

