<h3 style="text-align:left"> 
    <br> Bienvenido  {{ store.store_name }}! 
 </h3>
     <p>
        Gracias por Instalar Boris <br>
        Ya podes comenzar a gestionar tus cambios y devoluciones de manera ágil y sencilla!
        <br><br>
        Para Ingresar en tu consola de gestión, entra en:
        <a href="http://backprod.borisreturns.com">http://backprod.borisreturns.com</a>
        con el usuario y contraseña : {{usuario}} <br>

        Si queres saber cómo podes personalizar el portal y el comportamiento de Boris, podés seguir las intrucciones en nuestra página
        <a href="http://www.borisreturns.com/instalacion">http://www.borisreturns.com/instalacion</a> <br>

        <br>Ante cualquier consulta no dudes en escribirnos a soporte@borisreturns.com<br>
        <br><br>
        Un saludo<br>
        El equipo de BORIS
     </p>