<h3 style="text-align:left"> 
    <br> Bienvenido  {{ store.store_name }}! 
 </h3>
     <p>
        Gracias por Instalar Boris <br>
        Estas a un paso de poder comenzar a gestionar tus cambios y devoluciones de manera ágil y sencilla!
        <br>
        <br>
        <strong>IMPORTANTE! - SOLO TE QUEDA UN PEQUEÑO PASO PARA FINALIZAR LA INTEGRACION DE BORIS CON TU TIENDA. </strong>
               Para finalizar la integración de BORIS con tu tienda, 
               tenés que añadir un botón en la página de tu tienda donde tengas la 
               Política de Cambios y Devoluciones. Para hacerlo podés seguir las intrucciones que 
               vas a ver encontrar en <a href="http://www.borisreturns.com/faq">http://www.borisreturns.com/faq</a> 
         <br>
         <br>
        Para Ingresar en tu consola de gestión, entra en:
        <a href="http://backprod.borisreturns.com">http://backprod.borisreturns.com</a>
        con el usuario y contraseña : {{usuario}} <br>

        Si queres saber cómo podes personalizar el portal y el comportamiento de Boris, podés seguir las intrucciones en nuestra página
        <a href="http://www.borisreturns.com/faq">http://www.borisreturns.com/faq</a> <br>

        <br>Ante cualquier consulta no dudes en escribirnos a soporte@borisreturns.com<br>
        <br><br>
        Un saludo<br>
        El equipo de BORIS
     </p>