<h3 style="text-align:left"> 
    <br> Bienvenido  {{ store.store_name }}! 
 </h3>
    <p>
        Tienda: {{ store.store_name }} <br>
        Email: {{store.admin_email}}<br>
        URL: {{store.store_url}}<br>
        Plan: {{store.store_plan}}<br>
        Portal :<a href="http://frontprod.borisreturns.com/buscar?empresa={{store.store_id}}" target="_blank" >http://frontprod.borisreturns.com/buscar?empresa={{store.store_id}}</a> <br>
        Usuario y contraseña : {{usuario}} <br>
        
     </p>