<div class='container-fluid' style="max-width: 400px; margin: 0 auto; text-align: center;">
    <img class="center-block" src="http:{{company.param_logo}}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</div>

<h3 style="text-align:left"> 
   <br> Hola {{ customer.name }}! 
</h3>


<p style="text-align:left">  
    Hemos generado un cupón para vos!<br>
    Ahora tenés {{ "${:,.2f}".format(monto) }} para que compres lo que quieras <br>
    <br>
    El código es el siguiente: <strong>{{cupon}}</strong> <br>
    <br>
    {{company.cupon_generado_note | safe}}
</p>



