<div class='container-fluid' style="max-width: 400px; margin: 0 auto; text-align: center;">
  <img class="center-block" src="http:{{company.param_logo}}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</div>

<h3 style="text-align:left"> 
 <br> Hola {{ customer.name }}! 
</h3>
  <p>
      Te adjuntamos la etiqueta para tu solicitud #{{order.order_number}}<br>
      <br>
      {{instrucciones | safe}}
      <br>
  </p>

  <hr>
<h3><strong> Como seguimos ? </strong></h3>
  <p>
    Una vez que recibamos tus productos te confirmaremos que esta todo correcto, muchas gracias!
  </p>


<h5 style="text-align:left"> 
  <br><br>
  Podes hacer el seguimiento de tu orden acá: <br>
  <a href="http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}">
  http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}
  </a>
</h5>
