<div class='container-fluid' style="max-width: 400px; margin: 0 auto; text-align: center;">
    <img class="center-block" src="http:{{company.param_logo}}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</div>

<h3 style="text-align:left"> 
   <br> Hola {{ customer.name }}! 
</h3>

    <p>
        Hemos recibimos tus productos correctamente, en breve finalizaremos el procesamiento de tu solicitud <br>
        {{company.aprobado_note | safe}}
    </p>


    <hr>
<h3><strong> Como seguimos ? </strong></h3>
    <p>En breve recibiras un email confirmando el fin de la gestión </p>


<h5 style="text-align:left"> 
    <br><br>
    Podes hacer el seguimiento de tu orden acá: <br>
    <a href="http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}">
    http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}
    </a>
</h5>