<div class='container-fluid' style="max-width: 400px; margin: 0 auto; text-align: center;">
    <img class="center-block" src="http:{{company.param_logo}}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</div>

<h3 style="text-align:left"> 
   <br> Hola {{ customer.name }}! 
</h3>


    <p style="text-align:left">  Tu solicitud ha sido rechazada <br>
        Lamentamos informarte que ha habido un problema con tu orden. <br>
        {{order.reject_reason}}<br>
        Por favor ponete en contacto con nosotros. <br>
        <br>
        {{company.rechazado_note | safe}}
    </p>

