<div class='container-fluid' style="max-width: 400px; margin: 0 auto; text-align: center;">
    <img class="center-block" src="http:{{company.param_logo}}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
</div>
<br>
<h3 style="text-align:left"> 
    Hola {{ customer.name }}! <br>
    Tu orden #{{order.order_number}} ha sido confirmada
</h3>

{% if envio.metodo_envio_id == 'Manual' %}
    <p>   
        <br>
        Por favor seguí las siguientes instrucciones para hacernos llegar tus productos:<br>
            <br>
            {{envio.instrucciones_entrega | safe}}
    </p>
{% endif %}

{% if envio.metodo_envio_id == 'Coordinar' %}
    <p>   
        <br>
        Por favor seguí las siguientes instrucciones para continuar con el cambio / devolución:<br>
            {{envio.instrucciones_entrega | safe}}
    </p>
{% endif %}

{% if envio.metodo_envio_id == 'Domicilio' %}
    <p>   
        <br>
        Por favor seguí las siguientes instrucciones para continuar con el cambio / devolución:<br>
            {{envio.instrucciones_entrega | safe}}<br>
    </p>
{% endif %}

{% if envio.metodo_envio_id == 'Locales' %}
    <p>   
        <br>
        Por favor seguí las siguientes instrucciones para continuar con el cambio / devolución:<br>
            <br>
            Acercate al local seleccionado, {{order.metodo_envio_sucursal_name}} con tus productos.<br>
            {{envio.instrucciones_entrega | safe}}<br>
    </p>
{% endif %}


<br>
    <hr>
    <h3 style="text-align:left"> Como seguimos? </h3>
    <p>
        Una vez que recibamos tus productos te confirmaremos que esta todo correcto, muchas gracias!
    </p>
   

<h5 style="text-align:center"> Podes hacer el seguimiento de tu orden acá: <br>
        <a href="http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}">
        http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}
        </a>
</h5>