<div class='container-fluid'>
    <img  class="center-block img-responsive" src='http:{{company.param_logo}}'> 
</div>
<br>
<h3 style="text-align:left"> 
    Hola {{ customer.name }}! <br>
    Tu orden #{{order.order_number}} ha sido confirmada
</h3>

{% if envio.metodo_envio_id == 'Manual' %}
    <p>   
        <br>
        Por favor seguí las siguientes intstrucciones para hacernos llegar tus productos:<br>
            <br>
            {{envio.instrucciones_entrega | safe}}
    </p>
{% endif %}

{% if envio.metodo_envio_id == 'Coordinar' %}
    <p>   
        <br>
        Por favor seguí las siguientes instrucciones para continuar con el cambio / devolución:<br>
            {{envio.instrucciones_entrega | safe}}
    </p>
{% endif %}


<br>
    <hr>
    <h3 style="text-align:left"> Como seguimos? </h3>
    <p>
        Te confirmaremos por email una vez que recibamos tus productos y procederemos al procesamiento de tu solicitud
    </p>
   

<h5 style="text-align:center"> Podes hacer el seguimiento de tu orden acá: <br>
        <a href="http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}">
        http://frontprod.borisreturns.com/tracking/{{order.order_id_anterior}}
        </a>
</h5>