<div class='container-fluid'>
    <img  class="center-block img-responsive" src='http:{{company.param_logo}}'> 
</div>
<br>
<h3 style="text-align:left"> 
    Hola {{ customer.name }}! <br>
</h3>

<p>
    Ha finalizado el procesamiento de tu orden #{{order.order_number}}<br>
    <ul>
    {% for i in linea %}
        {% if i.accion == 'devolver' %}
            <li>
                Se ha procedido a la devolución de  {{ "${:,.2f}".format(i.monto_devuelto) }} por la devolución de {{i.name}}<br>
                Recordá que la devolución se realiza por el mismo método que utilizaste para realizar el pago.<br>
                En caso de pago con tarjeta, dependiendo de la fecha de cierre, 
                el importe podría aparacer en el siguiente período <br>
            </li>
        {% endif %}
        {% if i.accion == 'cambiar' %}
            <li>
                Se ha realizado el cambio de {{i.name}} X {{i.accion_cambiar_por_desc}} <br>
                {% if (i.accion_cambiar_por_desc != 'Cupón') and (order.courier_coordinar_roundtrip != true) %}
                Ya se generó la nueva orden, en breve recibiras la confirmación del envío <br>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <br>
    {{company.finalizado_note | safe}}
</p>
  

<h5 style="text-align:center"> Podes hacer el seguimiento de tu orden acá: <br>
    <a href="http://frontprod.borisreturns.com/tracking/{{order.order_number}}">
    http://frontprod.borisreturns.com/tracking/{{order.order_number}}
    </a>
</h5>