{% extends "base.html" %}

{% block app_content %}
    <div class='container'>
       
            {% if codigo == 'error' %}
                <br>
                Se produjo un error en la autorización <br>
                por favor ponete en contacto con nosotros <br>
            {% endif %} 
            {% if codigo == 'error_al_actualizar' %}
                <br>
                Se produjo un error en la actualización del FRONT <br>
                por favor ponete en contacto con nosotros <br>
            {% endif %}
            {% if codigo == 'OK' %}
            <h2> Bienvenido  {{ store.store_name }}! <br></h2>
                <h3>Gracias por instalar Boris </h3><br>
                <p>Te enviamos un mail a {{store.admin_email}} con los datos para que puedas terminar la instación <br></p>
                <br>
                <h3>IMPORTANTE! </h3>
                <h5>Para finalizar la integración de BORIS con tu tienda, 
                    tenés que añadir un botón en la página de tu tienda donde tengas la 
                    Política de Cambios y Devoluciones. Para hacerlo podés seguir las intrucciones que 
                    vas a ver encontrar en <a href="http://www.borisreturns.com/instalacion">http://www.borisreturns.com/instalacion</a>  </h5>
                <br>
                <p>
                Para poder ingresar en tu <strong>consola de gestión</strong> entra en:<br>
                <a href="http://backprod.borisreturns.com">http://backprod.borisreturns.com</a>
                con el usuario y contraseña : {{usuario}} 
                <br>
                <br> Si queres saber cómo podes <strong>personalizar el portal</strong> y el comportamiento de Boris, podés seguir las intrucciones en nuestra página:<br>
                 <a href="http://www.borisreturns.com/instalacion">http://www.borisreturns.com/instalacion</a>
                 <br>
                </p>
            {% else %}
                Se produjo un error en la autorización <br>
                por favor ponete en contacto con nosotros <br>
                Opcion de codigo -- {{codigo}}
            {% endif %}
            
       
    </div>
{% endblock %}