{% extends "base.html" %}

{% block app_content %}
    <div class='container'>
        <h1>Configurar Perfil</h1>
        <h3><strong> {{ empresa.store_name }} </strong> <br></h3>

      <div id="accordion">

        <!-- Datos de la empresa-->
        <div class="card">  
            <div class="card-header" id="headingOne">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"  aria-controls="collapse1">Datos de la Empresa</button>
              <a href="{{ url_for('main.edit_profile_company', formulario='Datos de la tienda') }}" class="float-right" >Editar</a>
            </div>
            
            <div id="collapse1" class="collapse" data-parent="#accordion" aria-labelledby="headingOne">
              <div class="card-body">
                <strong>Contacto</strong><br>
                 Tienda: {{ empresa.store_name }}<br>
                 Teléfono tienda: {{ empresa.store_phone }}<br>
                 Nombre Contacto: {{ empresa.contact_name }}<br>
                 Teléfono Contacto: {{ empresa.contact_phone }}<br>
                 Mail: {{ empresa.contact_email }}<br>
                 Mail Administración: {{ empresa.admin_email}} <br>
                 <br>
                 Link portal consumidor: <a href='http://frontprod.borisreturns.com/buscar?empresa={{empresa.store_id}}'  target="_blank" rel="noreferrer noopener">Hace click aqui para ver tu portal</a>
              </div>
            </div>

          </div> <!-- end of Datos de la empresa -->

          <!-- Correo -->
          <div class="card">  
            <div class="card-header" id="heading2">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"  aria-controls="collapse2">Correo</button>
              <a href="{{ url_for('main.edit_profile_company', formulario='Correo') }}" class="float-right">Editar</a>
            </div>
            
            <div id="collapse2" class="collapse" data-parent="#accordion" aria-labelledby="heading2">
              <div class="card-body">
                <strong>Empresa de correo</strong><br>
                Correo Usado: {{ empresa.correo_usado }}<br>
                APIKEY {{ empresa.correo_apikey }}<br>
                ID {{ empresa.correo_id }}<br>
                <br>
                    <strong>Entorno de Test <br></strong>
                    Test correo {{empresa.correo_test}}<br>
                    APIKEY_TEST {{ empresa.correo_apikey_test }}<br>
                    ID_TEST {{ empresa.correo_id_test }}<br>
                <br>
                <strong>Direccion de Envio</strong><br>
                {{ empresa.shipping_address}} {{empresa.shipping_number}} {{ empresa.shipping_floor }} <br>
                {{ empresa.shipping_city }} ({{ empresa.shipping_zipcode }}) <br>
                {{ empresa.shipping_province}} <br>
                {{ empresa.shipping_country }} <br>
                Informacion para envíos :<br>
                {{ empresa.shipping_info }} <br>
              </div>
            </div>
          </div> <!-- end of correo -->

          <div class="card">  
            <div class="card-header" id="heading3">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"  aria-controls="collapse3">Parametros</button>
              <a href="{{ url_for('main.edit_profile_company', formulario='Parametros') }}" class="float-right">Editar</a>
            </div>
            
            <div id="collapse3" class="collapse" data-parent="#accordion" aria-labelledby="heading3">
              <div class="card-body">
                Plataforma: {{empresa.platform}} <br>
                <!-- 
                Token type: {{empresa.platform_token_type}}<br>
                Access Token: {{empresa.platform_access_token}}<br>
                -->
                Store_id: {{empresa.store_id}}<br>
                Idioma: {{empresa.store_main_language}}<br>
                Pais: {{empresa.store_country}}<br>
                Moneda: {{empresa.store_main_currency}}<br>
                Logo: {{ empresa.param_logo }} <br>
                Fondo: {{ empresa.param_fondo }} <br>
                Archivo Config: {{ empresa.param_config }} <br>
              </div>
            </div>
        </div>


        <div class="card">  
          <div class="card-header" id="heading4">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"  aria-controls="collapse4">Mails</button>
            <a href="{{ url_for('main.edit_profile_company', formulario='Mails') }}" class="float-right" >Editar</a>
          </div>
          
          <div id="collapse4" class="collapse" data-parent="#accordion" aria-labelledby="heading4">
            <div class="card-body">
                <strong>Mail para Comunicaciones:</strong> {{empresa.communication_email}} <br>
                <br>
                <strong>Mail CONFIRMACION:<br></strong>
                Nota para Envios Manuales: {{empresa.envio_manual_note}}<br>
                Nota para Envios A coordinar: {{empresa.envio_coordinar_note}}<br>
                Nota para Envios x Correo: {{empresa.envio_correo_note}}<br>
                <br>
                <strong>Mail APROBACION:<br></strong>
                Nota para solicitudes recibidas y aprobadas: {{empresa.aprobado_note}}<br>
                <br>
                <strong>Mail RECHAZO:<br></strong>
                Nota para solicitudes rechazadaa al recibir: {{empresa.rechazado_note}}<br>
                <br>
                <strong>Mail GENERACIÓN CUPÓN:<br></strong>
                    Nota para la generación de cupón: {{empresa.cupon_generado_note}}<br>  
                <br>
                 <strong>Mail FINALIZACION:<br></strong>
                    Nota para el final del procesamiento: {{empresa.finalizado_note}}<br>  
              </div>
            </div>
        </div>

        <div class="card">  
          <div class="card-header" id="heading5">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"  aria-controls="collapse5">Mails Front-End</button>
            <a href="{{ url_for('main.edit_profile_company_front', formulario='Mails Front') }}" class="float-right">Editar</a>
          </div>
          
          <div id="collapse5" class="collapse" data-parent="#accordion" aria-labelledby="heading5">
            <div class="card-body">
              <strong>Mail INICIO DE SOLICITUD:<br></strong>
              Nota para Inicio de Envios Manuales: {{empresa.confirma_manual_note}}<br>
              Nota para Inicio de Envios A coordinar: {{empresa.confirma_coordinar_note}}<br>
              Nota para Inicio de Envios x Correo: {{empresa.confirma_moova_note}}<br>
              <br>
            </div>
          </div>
      </div>
      </div>
               
               
            
{% endblock %}