{% extends "base.html" %}

{% block app_content %}
    <div class='Jumbotron'>
        <h1> Vision General</h1>
        <table style="width:100%">
            <tr>
                <th>En Transito</th>
                <th>En proceso</th>
                <th>Cerradas </th>
            </tr>
            <tr>
                <td>{{resumen.entransito}}</td> 
                <td>{{resumen['enproceso']}}</td> 
                <td>{{resumen['cerradas']}}</td> 
            </tr>
        </table>
        <br>

        <a href="{{ url_for('main.ver_pedidos') }}">
            <button class="btn btn-default"> Ver detalles </button>
    </div>
{% endblock %}