{% extends "base.html" %}

{% block app_content %}
    <div class='Jumbotron'>
        <h1> Vision General</h1>
    </div>
    <div class='container'>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">En Transito</div>
                <div class="panel-body"> 
                    <h3  class="text-center">{{resumen.entransito}}</h3> 
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='Shipping') }}">
                        <button class="btn btn-default"> Ver detalles </button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">En Proceso</div>
                <div class="panel-body"> 
                    <h3 class="text-center">{{resumen.enproceso}} </h3>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='En Proceso')  }}">
                        <button class="btn btn-default"> Ver detalles </button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Cerradas</div>
                <div class="panel-body"> 
                    <h3 class="text-center">{{resumen.cerradas}} </h3>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='Closed') }}">
                        <button class="btn btn-default"> Ver detalles </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">Iniciadas</div>
                <div class="panel-body"> 
                    <h3  class="text-center">{{resumen.entransito}}</h3> 
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='Shipping') }}">
                        <button class="btn btn-default"> Ver </button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">Recibidas</div>
                <div class="panel-body"> 
                    <h3 class="text-center">{{resumen.enproceso}} </h3>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='En Proceso')  }}">
                        <button class="btn btn-default"> Ver </button> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Cerradas</div>
                <div class="panel-body"> 
                    <h3 class="text-center">{{resumen.cerradas}} </h3>
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('main.ver_ordenes', estado='Closed') }}">
                        <button class="btn btn-default"> Ver </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    </div>
    
{% endblock %}