{% extends "base.html" %}
{% set active_page = active_page|default('Solicitadas') -%}

{% block app_content %}
    <div class='pae-header'>
        <h1> Ordenes </h1>
    </div>

    <ul  class="nav nav-pills nav-fill">
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='Solicitado') }}">Solicitadas</a></li>
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='En Transito')  }}">En Tránsito</a></li>
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='Recibido') }}">Recibidas</a></li>
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='En Proceso', subestado='Aprobado') }}">Aprobadas</a></li>
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='En Proceso', subestado='Rechazado') }}">Rechazadas</a></li>
        <li role="presentation"><a href="{{ url_for('main.ver_ordenes', estado='CLosed', subestado='all') }}">Finalizadas</a></li>
      </ul>
    
      </div>


    
{% endblock %}