{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Configurar Perfil</h1>

    <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{titulo}}
            </h4>
          </div>
         
            <div class="panel-body">
                {{ wtf.quick_form(form) }}
            </div>
          
        </div>

        

      </div>
      
{% endblock %}