{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h3> 
            <strong>Producto</strong>{{linea.name}}<br>
            Estado de a Gestión: {{linea.gestionado}}
        </h3>
    </div>
    <div class="col-md-5">
     
        Código de Producto: {{linea.prod_id}}<br>
        Cantidad: {{linea.accion_cantidad}}<br>
        
        Acción a realizar: {{linea.accion}}<br>
        {% if linea.accion == 'cambiar' %}
            {{linea.accion_cambiar_por_desc}}<br>

            Nuevo envio: {{linea.nuevo_envio}}<br>
        {% endif %}
        Motivo: {{linea.motivo}}<br>
        
        {% if linea.accion == 'devolver' %}
            Precio del artículo {{linea.precio}}<br>
            Otros descuentos:
            {% if linea.promo_descuento != 0 %} 
                Descuento {{linea.promo_descuento}} ({{linea.promo_nombre}})<br>
                Precio Abonado: {{linea.promo_precio_final}}<br>
            {% else %}
                No tiene <br>
            {% endif %}

            Monto devuelto: {{linea.monto_devuelto}}<br>
        {% endif %}

        restock del articulo: {{linea.restock}}<br>
        
    
        
        
    </div>
    
{% endblock %}