{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h1> 
            <strong>Orden </strong>#{{orden.order_number}}
        </h1>
        <h4>
            <br> <strong> Cliente </strong>{{customer.name}}  
            <br>         {{customer.email}}
            <div class="text-right"> {{orden.status}} - {{orden.sub_status}} </div>
            {% set link_orden = empresa.store_url+'/admin/orders/'+orden.order_id_anterior|string %}
            <br> <strong>Ver compra en la Tienda: </strong> 
            <a href={{link_orden}} target="_blank" rel="noreferrer noopener"> Click Acá </a>
        </h4>
        
    </div>
    <div class='container'>
        
        {% for i in historia %}
            {{i.order_id}}
            Estado: {{i.sub_status}} - 
            Fecha: {{ moment(i.fecha).format("DD/MM/YYYY")}} - 
            Producto: {{i.prod}} - 
            Actualizado por: {{i.user_id}} - {{i.username}}
            <br>
        {% endfor %}
            
        
        
    </div>
{% endblock %}