{% extends "base.html" %}

{% block app_content %}

<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title"> <strong>
            Menú de Mantenimiento - Orden #{{orden.order_number}} <br>
        </strong> </h4> 
        <br>

        <div class="row">
            <div class="col-md-6">
                <!-------------------- Añadir Retiro + Entrega ----------------------->
                <div class="card bg-light">
                    <div class="card-body">
                        <a href="{{ url_for('main.roundtrip_orden',  orden_id=orden.id) }}" id="roundtrip" name="roundtrip"> 
                            <button class="btn btn-default text-left" onclick="return confirm('Va a poner la orden {{orden.order_number}} como Retiro + Entrega . Esta seguro ?')">
                                <h5>
                                    <strong>
                                    <i class="bi bi-arrow-clockwise"></i>
                                    Añadir Retiro + Entrega 
                                    </strong> 
                                </h5>
                                Pone la orden como "Retiro + Entrega" aunque ya este confirmada
                            </button>
                        </a>
                    </div>
                </div>

                <br>

                <!-------------------- Cancelar Orden ----------------------->           
                <div class="card bg-light text-left">
                    <div class="card-body">
                        <a href="{{ url_for('main.cancelar_orden', orden_id=orden.id) }}" id="cancelar" name="cancelar"> 
                            <button class="btn btn-default text-left" onclick="return confirm('Va a cancelar la orden {{orden.order_number}}. Esta seguro ?')">
                                <h5>
                                    <strong>
                                    <i class="bi bi-slash-circle"></i>
                                      Cancelar Orden
                                    </strong> 
                                </h5>
                                Pone la orden en estado "Cancelado"
                            </button>
                        </a>
                    </div>
                </div>
                
                <br>

                <!-------------------- Cerrar Orden ----------------------->           
                <div class="card bg-light text-left">
                    <div class="card-body">
                        <a href="{{ url_for('main.cerrar_orden', orden_id=orden.id) }}" id="cerrar" name="cerrar"> 
                            <button class="btn btn-default text-left" onclick="return confirm('Va a Cerrar la orden {{orden.order_number}}. Esta seguro ?')">
                                <h5>
                                    <strong>
                                    <i class="bi bi-door-closed"></i>
                                      Cerrar Orden
                                    </strong> 
                                </h5>
                                Cierra la orden manualmente
                            </button>
                        </a>
                    </div>
                </div>
                
                <br>

                <!-------------------- Cancelar Orden ----------------------->       
                <div class="card bg-light">
                    <div class="card-body">
                        <a href="{{ url_for('main.menu_eliminar_orden', orden_id=orden.id) }}" id="eliminar" name="eliminar"> 
                            <button class="btn btn-default text-left">
                                <h5>
                                    <strong>
                                    <i class="bi bi-x-circle-fill"></i>
                                    Eliminar Orden
                                    </strong> 
                                </h5>
                                Elimina la Orden completamente
                            </button>
                        </a>
                    </div>
                </div>                
            </div>


            <div class="col-md-6">
                <div class="card border-light">
                    <div class="card-body">
                        <h5 class="card-title"> <strong>
                            Información de la Orden
                        </strong> </h5>  
                        
                        <p class="card-text">
                            <strong>Orden #{{orden.order_number}} 
                                (Estado: {{orden.status_resumen}} )
                            </strong> <br>
                            Fecha de creación: {{ moment(orden.date_creation).format("DD/MM/YYYY")}} 
                            <br><br>
                
                            <!-- Info Cliente -->
                            <strong>Cliente {{customer.name}}</strong><br>
                            {{customer.email}} / {{customer.phone}} <br> 
                            <br>
                            <strong>Método de Envío:</strong> {{orden.courier_method}}
                            <br>
                            <strong>Retiro + entrega:</strong>
                            {% if orden.courier_coordinar_roundtrip == True %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                            <br><br>

                            <strong>Líneas</strong><br>
                            {% for linea in lineas %}
                                <strong>{{linea.name}} ({{linea.prod_id}})</strong> &nbsp;
                                {{linea.accion}} - {{linea.accion_cantidad}}
                                {% if linea.accion == 'cambiar' %}
                                    por {{linea.accion_cambiar_por_desc}}
                                    {% if linea.nuevo_envio != None %}
                                        <br> Nuevo envio: {{linea.nuevo_envio}}
                                    {% endif %}
                                {% endif %}
                                <br>
                            {% endfor %}
                
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}