{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h1> 
            <strong>Orden </strong>#{{orden.order_number}}
        </h1>
        <h4>
            <br> <strong> Cliente </strong>{{customer.name}}  
            <br>         {{customer.email}}
            <div class="text-right"> {{orden.status}} - {{orden.sub_status}} </div>
        </h4>
        
    </div>
    <div class='container'>
        <table style="width:100%">
            <tr>
                <th>Linea</th>
                <th>Producto</th>
                <th>Código</th>
                <th>Orden</th>
                <th>Accion</th>
                <th>Cantidad</th>
                <th>Obser.</th>
                <th>Motivo</th>
                <th>Gestion</th>
                <th></th>
            </tr>
            {% for i in orden_linea %}
            <tr>
                <td>{{i['line_number']}}</td> 
                <td>{{i['name']}}</td> 
                <td>{{i['prod_id']}}</td> 
                <td>{{i['order']}}</td> 
                <td>{{i['accion']}}</td>
                <td>{{i['accion_cantidad']}}</td>
                <td>
                {% if i['accion'] == 'cambiar' %} 
                    {{i['accion_cambiar_por']}}
                {% else %}
                    {{i['monto_a_devolver']}}
                {% endif %}
                </td>
                <td>{{i['motivo']}}</td>
                <td>{{i['gestionado']}}</td>

                {% if (orden.status == 'En Proceso' and orden.sub_status != 'Rechazado' and i['gestionado'] != 'Si') %}
                    <td><a href="{{ url_for('main.gestionar_producto', orden_id=orden.id, linea_id=i['order_line_number'] ) }}">
                        <button class="btn btn-default"> Accion </button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br><br>

            {% if orden.sub_status == 'Iniciado' %}
                {% set text = 'Cobrar envío y pasar a Ready' %}
                {% set accion_orden = 'toReady' %}
            {% endif %}
            {% if orden.sub_status == 'Recibido' %}
                {% set text = 'Revisar y aprobar Solicitud' %}
                {% set accion_orden = 'toApproved' %}
            {% endif %}
            <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = accion_orden ) }}">
            <button class="btn btn-default"> {{text}} </button></a>
            
        
        
    </div>
{% endblock %}