{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <div class="row">
            <div class="col-md-4">
                <strong style="font-size: 2em;"> Orden #{{orden.order_number}} </strong> <br>
                <input type="hidden" id="ordenId" name="ordenId" value={{orden.id}}>
                <strong> Cliente </strong>{{customer.name}}  <br>
                                          {{customer.email}} <br>
                                          {{orden.customer_address}}&nbsp{{orden.customer_number}}&nbsp{{orden.customer_floor}}<br>
                                          {{orden.customer_locality}}&nbsp({{orden.customer_zipcode}})<br>
                                          {{orden.customer_city}} &nbsp - &nbsp{{orden.customer_province}}
            </div>
            <div class="col-md-5">
                <strong style="font-size: 2em;">  </strong> <br>
                <strong>Estado:</strong> {{orden.status_resumen}} 
                {% if orden.reject_reason != None %}
                    - {{orden.reject_reason}}
                {% endif %}<br>
                <strong>Fecha de creación:</strong> {{ moment(orden.date_creation).format("DD/MM/YYYY")}} <br>
                <strong>Método de Envío:</strong> {{orden.courier_method}} <br>
                <strong>Guia:</strong> {{ orden.courier_order_id }}
                {% if orden.status_resumen == 'Solicitado' %}
                <br><strong> Costo del Envío: {{orden.courier_precio}}</strong>
                {% endif %}
                {% set link_orden = empresa.store_url+'/admin/orders/'+orden.order_id_anterior|string %}
                <br> <strong>Ver compra en la Tienda: </strong> 
                <a href={{link_orden}} target="_blank" rel="noreferrer noopener"> Click Acá </a>
            </div>
            
            {% if orden.courier_method == 'Coordinar' %}
                <div class="col-md-3">
                    <strong style="font-size: 2em;">  </strong> <br>
                    <strong>Datos del envío coordinado:</strong> <br>
                    <strong>Correo:</strong> {{orden.courier_coordinar_empresa}} <br>
                    <strong>Guia:</strong> {{orden.courier_coordinar_guia}} <br>
                    <strong>Recogida + entrega:</strong> 
                        {% if orden.courier_coordinar_roundtrip == True %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                        <br><br>
                </div>
            {% endif %}        
        </div>

        <div class="row" style="margin-top: 25px">
            <form id="Nota" action="{{ url_for('main.orden', orden_id = orden.id) }}" method="POST"> 
                <label for="nota">Notas:</label>
                <textarea class="form-control" rows="2" id="nota" name="nota" style="background-color: rgba(255, 255, 255, 0.705)" > {{orden.note}} </textarea>
                <button  class="btn btn-link btn-xs" type="submit"> Añadir Nota </button>
            </form>
        </div>

    </div>
    <div class='container'>
                <table style="width:100%">
                    <tr>
                        <th> </th>
                        <th>Producto</th>
                        <th>Código</th>
                        <th>Accion</th>
                        <th>Cantidad</th>
                        <th>Cambio X</th>
                        <th>Motivo</th>
                        <th>Gestion</th>
                        <th></th>
                    </tr>
                    {% for i in orden_linea %}
                    <tr>
                        <td>{{i['line_number']}} - </td> 
                        <td>{{i['name']}}</td> 
                        <td>{{i['prod_id']}}</td> 
                        <td>{{i['accion']}}</td>
                        <td>{{i['accion_cantidad']}}</td>
                        <td>{{i['accion_cambiar_por_desc']}}</td>
                        <td>{{i['motivo']}}</td>
                        <td>{{i['gestionado']}}</td>
                        

                        {% if (orden.status == 'En Proceso' and orden.sub_status != 'Rechazado' and i['gestionado'] != 'Si') %}
                            <td><a href="{{ url_for('main.gestionar_producto', orden_id=orden.id, linea_id=i['order_line_number'] ) }}">
                            <button class="btn btn-primary"> Accion </button></td>
                        {% endif %}

                        {% if i['gestionado'] == 'Si' %}
                                <td><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                        {% endif %}

                        <td> <td><a href="{{ url_for('main.historia_producto', linea_id=i['order_line_number']) }}">
                            <button class="btn btn-link"> Ver Historia </button></td></td>

                    </tr>
                    {% endfor %}
                </table>
         
        <br>

        
        {% if orden.status == 'Shipping' %} 
            <form id="coordinar_form" action="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReject' ) }}" method="POST"> 
                <input type="text" id="motivo" name="motivo" class="hidden" value=""> <br>
                <input type="submit" id="submit-reject" class="hidden" />
            </form>
            {% if orden.sub_status == 'Solicitado' %}
            <form id="coordinar_form" action="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReject' ) }}" method="POST"> 
                    <input type="text" id="motivo" name="motivo" class="hidden" value=""> <br>
                    <input type="submit" id="submit-reject" class="hidden" />
                </form>
                    
                {% if orden.courier_method == 'Coordinar' %}
                <form id="coordinar_form" action="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReady' ) }}" method="POST"> 
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-5">                              
                                    <input type="text" class="form-control" id="coordinar_empresa" name="coordinar_empresa" value="" placeholder="correo">
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="coordinar_guia" name="coordinar_guia" value="" placeholder="Guia">
                                </div>
                            </div> <!-- /row -->
                            <br>
                            <div class="row">
                                <div class="col-lg-5 ">
                                    <input type="checkbox" id="coordinar_roundtrip" name="coordinar_roundtrip" value="True"> Recogida + Entrega?:
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                    <input type="submit" id="submit-form" class="hidden" />
                </form>

                <label for="submit-form" tabindex="0" class="btn btn-primary" title='Pasa el pedido a LISTO PARA RETIRO'>Coordinar </label>

                {% else %}
                <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReady' ) }}">
                    <button class="btn btn-primary" title='Pasa el pedido a LISTO PARA RETIRO' > Confirmar </button></a> 
                {% endif %}
                
                <label id="bton" for="submit-reject" tabindex="0" class="btn btn-danger" style="margin-left: 25px" title='Pasa el pedido a LISTO PARA RETIRO'>Rechazar</label>
                
            {% endif %}
            {% if orden.sub_status == 'Listo para retiro' %}
            <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReceived' ) }}">
                <button class="btn btn-primary" title='Pasa la orden a Reciibida' > Recibir </button></a> 
            {% endif %}
            {% if orden.sub_status == 'Recibido' %}
                <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toApproved' ) }}">
                    <button class="btn btn-primary"> Revisada y Aprobada <i class="fa fa-check" aria-hidden="true"></i> </button></a>
            
                <label id="bton" for="submit-reject" tabindex="0" class="btn btn-danger" style="margin-left: 25px" title='Pasa el pedido a LISTO PARA RETIRO'>Rechazar</label>
                    
            {% endif %}
        {% endif %}  
 
    </div>
{% endblock %}