
{% extends "base.html" %}

{% block app_content %}

<div class='container'> 
    <ul  class="nav nav-pills nav-fill" >
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'all' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='all', subestado='all') }}">Todas</a></li>
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'Solicitado' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='Solicitado') }}">Solicitadas <span class="badge badge-secondary">{{resumen.solicitadas}}</span></a></li>
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'En Transito' %}class='nav-link active' {% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='En Transito')  }}">En Tránsito <span class="badge badge-secondary">{{resumen.entransito}}</span> </a></li>
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'Recibido' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='Shipping', subestado='Recibido') }}">Recibidas <span class="badge badge-secondary">{{resumen.recibidas}}</span></a></li>
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'Aprobado' %} class='nav-link active'{% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='En Proceso', subestado='Aprobado') }}">Aprobadas <span class="badge badge-secondary">{{resumen.aprobadas}}</span></a></li>
        <li  class="nav-item" role="presentation" ><a {% if subestado == 'Rechazado' %} class='nav-link active'{% else %} class='nav-link' {% endif %} href="{{ url_for('main.ver_ordenes', estado='En Proceso', subestado='Rechazado') }}">Rechazadas <span class="badge badge-secondary">{{resumen.rechazadas}}</span></a></li>
    </ul>
    <br>

    <table id="ordenes"  class="table table-striped table-sm" style="font-size: 14px" >
        <thead >
            <tr>
                <th>Orden</th>
                <th>Fecha Creacion</th>
                <th>Última modificación</th>
                <th>Metodo Envío</th>
                <th>Nro. Guía</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for i in ordenes %}

                {% if i['status'] == 'Shipping' %}
                    {% set color = 'blue' %}
                {% endif %}
                {% if i['status'] == 'En Proceso' %}
                    {% set color = 'green' %}
                {% endif %}
                <tr>
                    <td>{{i['order_number']}}</td>
                    <td>{{ moment(i['date_creation']).format("DD/MM/YYYY")}}</td>
                    <td>{{ moment(i['date_lastupdate']).fromNow() }}</td>
                    <td>{{ i['courier_method'] }}</td>
                    <td>{{ i['metodo_envio_guia'] }}</td>
                    <td style="color:{{color}}">{{i['status_resumen']}}</td>
                    <td><a href="{{ url_for('main.orden', orden_id = i['id']) }}">
                        <button class="btn btn-primary btn-sm" > Gestionar </button></td>
                    <td><a href="{{ url_for('main.historia_orden', orden_id = i['id']) }}">
                        <button class="btn btn-link btn-sm"> Historia </button></td>
                    <td><a href="{{ url_for('main.mantener_orden', orden_id = i['id']) }}">
                            <button class="btn btn-link btn-sm"> <i title="Mantenimiento" class="bi bi-gear-fill"></i></button></td>
    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    
        $(document).ready( function () {
            $.noConflict();
            // to sort dates
            $.fn.dataTable.moment( "DD/MM/YYYY" );

            $('#ordenes').DataTable({

                language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json'
                }
                
            });
        } );
    
    </script>
{% endblock %}