{% extends "base.html" %}

{% block app_content %}
    <div class='container'>
        <h1> Ordenes</h1>
        <table style="width:100%">
            <tr>
                <th>Linea</th>
                <th>Producto</th>
                <th>Código</th>
                <th>Orden</th>
                <th>Accion</th>
                <th>Cantidad</th>
                <th>Varios 1</th>
                <th></th>
            </tr>
            {% for i in orden %}
            <tr>
                <td>{{i['line_number']}}</td> 
                <td>{{i['name']}}</td> 
                <td>{{i['prod_id']}}</td> 
                <td>{{i['order']}}</td> 
                <td>{{i['accion']}}</td>
                <td>{{i['accion_cantidad']}}</td>
                <td>
                {% if i['accion'] == 'cambiar' %} 
                    {{i['accion_cambiar_por']}}
                {% else %}
                    {{i['monto_a_devolver']}}
                {% endif %}
                </td>
                <td>{{i['motivo']}}</td>

                <td><a href="{ url_for('main.ver_pedidos'}">
                    <button class="btn btn-default"> Accion </button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}