{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h1> 
            <strong>Orden </strong>#{{orden.order_number}}
        </h1>
        <h4>
            <br> <strong> Cliente </strong>{{customer.name}}  
            <br>         {{customer.email}}
            <div class="text-right"> {{orden.status}} - {{orden.status_resumen}} </div>
            {% if orden.status_resumen == 'Solicitado' %}
            <br><strong> Costo del Envío a cobrar: {{orden.courier_precio}}</strong>
            {% endif %}
        </h4>
        
    </div>
    <div class='container'>
        <table style="width:100%">
            <tr>
                <th>Linea</th>
                <th>Producto</th>
                <th>Código Producto</th>
                <th>Accion</th>
                <th>Cantidad</th>
                <th>Motivo</th>
                <th>Gestion</th>
                <th></th>
            </tr>
            {% for i in orden_linea %}
            <tr>
                <td>{{i['line_number']}}</td> 
                <td>{{i['name']}}</td> 
                <td>{{i['prod_id']}}</td> 
                <td>{{i['accion']}}</td>
                <td>{{i['accion_cantidad']}}</td>
                <td>{{i['motivo']}}</td>
                <td>{{i['gestionado']}}</td>
                

                {% if (orden.status == 'En Proceso' and orden.sub_status != 'Rechazado' and i['gestionado'] != 'Si') %}
                    <td><a href="{{ url_for('main.gestionar_producto', orden_id=orden.id, linea_id=i['order_line_number'] ) }}">
                        <button class="btn btn-primary"> Accion </button></td>
                {% endif %}
                {% if i['gestionado'] == 'Si' %}
                        <td><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
        <br><br>
        {% if orden.status == 'Shipping' %}
            {% if orden.sub_status == 'Solicitado' %}
                <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReady' ) }}">
                    <button class="btn btn-primary"> Pasar a Listo para Retiro </button></a> 
                    Pasar a "Listo paa retiro" solo despues de haber cobrado el envío al cliente
            {% endif %}
            {% if orden.sub_status == 'Recibido' %}
                <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toApproved' ) }}">
                    <button class="btn btn-primary"> Revisada y Aprobada <i class="fa fa-check" aria-hidden="true"></i> </button></a>
            
                <a href="{{ url_for('main.gestionar_ordenes', orden_id = orden.id, accion_orden = 'toReject' ) }}">
                <button class="btn btn-danger"> Rechazada <i class="fa fa-times" aria-hidden="true"></i></button></a>
            {% endif %}
        {% endif %}    
        
        
    </div>
{% endblock %}