{% extends "base.html" %}

{% block app_content %}
    <div class='container'>
        <h1> Ordenes</h1>
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Orden</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>SubEstado</th>
                <th></th>
            </tr>
            {% for i in ordenes %}
            <tr>
                <td>{{i['id']}}</td> 
                <td>{{i['order_number']}}</td>
                <td>{{i['creation_date']}}</td>
                <td>{{i['status']}}</td>
                <td>{{i['sub_status']}}</td>
                <td><a href="{{ url_for('main.orden', orden_id = i['id']) }}">
                    <button class="btn btn-default"> Ver detalles </button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}