{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h2> 
            <strong> Producto </strong> <br>
        </h2>
        </h2> 
            <strong>{{linea.name}} </strong>  cantidad {{linea.accion_cantidad}} <br> 
        </h2>
        <table style="width:100%">
            <tr>
                <th>Cliente</th>
                <th class="text-right">Datos de la transaccion</th>
            </tr>
            <tr>
                <td>
                    {{customer.name}} <br>
                    {{customer.email}} <br>
                </td> 
                <td class="text-right">
                    Fecha de Compra: {{orden.creation_date}} <br>
                    Método de Pago: {{orden.payment_method}}<br>
                    Tarjeta: {{orden.payment_card}} <br>
                    <strong>Estado de la orden:  {{orden.status}} - {{orden.sub_status}} </strong><br>
                    <strong>Accion a realizar: {{linea.accion}}</strong> <br>
                    {% if linea.gestionado == False %}
                        No resuelto
                    {% else %}
                        Resuelto
                    {% endif %}
                </td> 
            </tr>
        </table>
      
        
    </div>
    <div class='container'>
        <br><br>
            <a href="{{ url_for('main.devolver', prod_id=linea.prod_id, variant=linea.variant, orden_id=orden.id, cantidad=linea.accion_cantidad, accion='devolver', order_line=linea.order_line_number ) }}">
                    <button class="btn btn-default"> Devolver dinero y regresar mercaderia al stock </button></a>
            
            {% if linea['accion'] == 'cambiar' %}
                <a href="{{ url_for('main.gestionar_ordenes', orden_id=orden.id, accion_orden=accion_orden ) }}">
                    <button class="btn btn-default"> Enviar nuevo pedido </button></a>
            {% endif %}
        
    </div>
    
{% endblock %}