{% extends "base.html" %}

{% block app_content %}
    <div class='jumbotron'>
        <h2> 
            <strong> Producto </strong> <br>
        </h2>
        </h2> 
            <strong>{{linea.name}} </strong>  cantidad {{linea.accion_cantidad}} <br> 
            <strong>Accion a realizar: {{linea.accion}}</strong> <br>   
        </h2>
        <table style="width:100%">
            <tr>
                <th>Cliente</th>
                <th class="text-right">Datos de la transaccion</th>
            </tr>
            <tr>
                <td>
                    {{customer.name}} <br>
                    {{customer.email}} <br>
                </td> 
                <td class="text-right">
                    Fecha de Compra: {{orden.creation_date}} <br>
                    <br>
                   
                    <strong>Estado de la orden:  {{orden.status}} - {{orden.sub_status}} </strong><br>
                    
                    {% if linea.gestionado !='Si' %}
                        <strong> No resuelto </strong>
                    {% else %}
                        <strong> Resuelto </strong>
                    {% endif %}
                </td> 
            </tr>
        </table>
      
        
    </div>
    <div class='container'>
        {% if linea['accion'] == 'devolver' %}
            <br>
            Método de Pago: {{orden.payment_method}}<br>
            {% if orden.payment_card != None %}
                Tarjeta: {{orden.payment_card}} <br>
            {% endif %}
            Monto a devolver: {{linea.monto_a_devolver}}
        {% endif %}
        {% if linea.accion == 'cambiar' %}
            Cambiar: {{linea.name}} por {{linea.accion_cambiar_por_desc}}
        {% endif %}
        <br>
        <br><br>

        {% if linea['accion'] == 'devolver' %}
                {% set text = 'Dinero devuelto. Regresar mercaderia al stock' %}
        {% endif %}
        {% if linea['accion'] == 'cambiar'  %}
            {% set text = 'Regresar mercaderia al stock' %}
        {% endif %}
           

        {% if linea.gestionado != 'Si' %}
            {% if (linea.gestionado == 'Iniciado' or linea.gestionado == 'Cambiado' )%}
                <a href="{{ url_for('main.devolver', prod_id=linea.prod_id, variant=linea.variant, orden_id=orden.id, cantidad=linea.accion_cantidad, accion=linea.accion, order_line=linea.order_line_number ) }}">
                        <button class="btn btn-primary"> {{text}} </button></a>
            {% else %}
                    <strong> Producto Devuelto       </strong>
            {% endif %}
            {% if linea['accion'] == 'cambiar' %}
                {% if (linea.gestionado == 'Iniciado' or linea.gestionado == 'Devuelto' )%}
                    <a href="{{ url_for('main.cambiar', orden_id=orden.id, order_line=linea.order_line_number ) }}">
                        <button class="btn btn-primary"> Enviar nuevo pedido </button></a>
                {% else %}
                    <strong> Cambio realizado       </strong>
                {% endif %}
            {% endif %}
        {% endif %}
            
    </div>
    
{% endblock %}