{% extends "base.html" %}

{% block app_content %}
<div class='jumbotron'>
    <div class="row">
        <div class="col-md-5">
            <strong style="font-size: 2em;"> Producto </strong> <br>
            <strong> Articulo: </strong>{{linea.name}} <br>
            <strong> Cantidad: </strong>{{linea.accion_cantidad}} <br>
            <strong>Accion a realizar: </strong>{{linea.accion}} 
        </div>
        <div class="col-md-7">
                <strong style="font-size: 2em;">  </strong> <br>
                <strong>Cliente:  </strong>{{customer.name}} - {{customer.email}}<br>
                <strong>Fecha de compra: </strong> {{ moment(orden.date_creation).format("DD/MM/YYYY")}} <br>
                <strong>Estado de la orden: </strong> {{orden.sub_status}}<br>
                <strong>Estado de la línea: </strong> 
                    {% if linea.gestionado !='Si' %}
                        <strong> No resuelto </strong>
                    {% else %}
                        <strong> Resuelto </strong>
                    {% endif %}
                </div>
        
    </div>
</div>

<div class='container'>
<form id="devolver_form" action="{{ url_for('main.devolver', prod_id=linea.prod_id, variant=linea.variant, orden_id=orden.id, cantidad=linea.accion_cantidad, accion=linea.accion, order_line=linea.order_line_number ) }}"method="POST"> 
    <!-- MUESTRA FORMULARIO PARA DEVOLUCION -->
    {% if linea['accion'] == 'devolver' %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <b>Devolución del dinero</b>
                </h4>
            </div>
            <div class="panel-body">
                <div class="items">
                    <div class="col-md-5">
                        <table class="table table-striped">
                            <caption>
                            <b>
                                Método de Pago: {{orden.payment_method}}
                                {% if orden.payment_card != None %}
                                - Tarjeta: {{orden.payment_card}} <br>
                                {% endif %}
                            </b>
                            </caption>
                            <tr>
                                <td> Precio articulo</td>
                                <td> {{linea.precio}} </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <table class="table table-striped"> 
                            <caption>
                            <b>
                                Descuentos Orden
                            </b>
                            </caption>
                            {% if linea.promo_descuento != 0 %} 
                            <tr>
                                <td> Descuento Promo: </td>
                                <td> - {{linea.promo_descuento}} ({{linea.promo_nombre}}) </td>
                            </tr>
                            <tr>
                                <td>Precio final</td>
                                <td>{{linea.promo_precio_final}}</td>
                            </tr>
                            {% endif %}
                            {% if orden.gastos_cupon != 0 %}
                            <tr>
                                <td>Cupon</td> 
                                <td> - {{orden.gastos_cupon}}</td>
                            </tr>
                            {% endif %}
                            {% if orden.gastos_gateway != 0 %} 
                            <tr>
                                <td>Desc. forma de pago</td>
                                <td> - {{orden.gastos_gateway}}</td>
                            </tr>
                            {% endif %}
                            {% if orden.gastos_shipping_owner != 0 %} 
                            <tr>
                                <td>Costo envío vendedor</td>
                                <td> - {{orden.gastos_shipping_owner}}</td>
                            </tr> 
                            {% endif %}
                            {% if orden.gastos_shipping_customer != 0 %} 
                            <tr>
                                <td>Costo envío vendedor</td>
                                <td>{{orden.gastos_shipping_customer}}</td>> 
                            </tr>
                            {% endif %}
                            {% if orden.gastos_promocion != 0 %} 
                            <tr>
                                <td>Dec. Promo</td>
                                <td> - {{orden.gastos_promocion}}</td>
                            </tr>
                            {% endif %}    
                        </table>
                    </div>
                    <div class="col-md-2">
                        <div style="text-align: center;">
                            <h3>Monto a devolver $
                            <input type="text" style="color:green;" size="8" id="monto" name="monto" value="{{linea.monto_a_devolver}}">
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}
    
        {% if (linea.gestionado == 'Iniciado' or linea.gestionado == 'Cambiado' ) %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <b>Estado del artículo</b>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="Stock">
                        <div class="col-md-5">
                            <div class="radio">
                                <label><input type="radio" name="stockradio" value="vuelve" checked>El artículo esta en perfectas condiciones</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="stockradio" value="vuelve_incidente">El artículo necesita reacondicionamiento</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="stockradio" value="no_vuelve">No se puede regresar el artículo al stock</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if linea['accion'] == 'devolver' %}
                {% set text = 'Dinero devuelto. Regresar mercaderia al stock' %}
            {% endif %}

            {% if linea['accion'] == 'cambiar'  %}
                {% set text = 'Regresar producto al stock' %}
            {% endif %}

                <button class="btn btn-primary" type="submit" > {{text}} </button>
            <br> <br>
        {% endif %}
</form>
</div>

    <!-- MUESTRA FORMULARIO PARA DEVOLUCION -->
    {% if (linea.accion == 'cambiar' and linea.gestionado != 'Cambiado')  %}
    <form id="cambiar_form" action="{{ url_for('main.cambiar', orden_id=orden.id, order_line=linea.order_line_number ) }}"method="POST"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <b>Cambio de producto</b>
            </h4>
        </div>
        <div class="panel-body">
                <div class="col-md-5">
                    Cambiar: {{linea.name}} <br>
                    Por: {{producto['name']['es']}} - {{linea.accion_cambiar_por_desc}} <br>
                    {% for i in producto['variants'] %}
                        {% if i['id'] == linea.accion_cambiar_por %}
                            Stock actual: {{i['stock']}}
                        {% endif %}
                    {% endfor %}
                   <br><br>
                </div>
                <div class="col-md-5">
                    <b>Cómo enviarás el producto?</b>
                    <div class="radio">
                        <label><input type="radio" name="metodo_envio" value="tiendanube" checked>Crear nueva orden en la tienda</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="metodo_envio" value="manual">Envío del producto manual</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit"> Enviar nuevo producto </button></a>
                </div>
            </div>
        </form>
        {% endif %}
  

{% endblock %}