{% extends "base.html" %}

{% block app_content %}
    <div class='container'>
        <h1> Datos del Usuario</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <strong> {{ user.store_name }} </strong> <br>
                {{ user.email}} <br>
                {% if user.last_seen %}
                    Último acceso: {{ moment(user.last_seen).format('LLL') }}
                {% endif %}
                <br><br>
                <strong> Tienda </strong>
                {{user.store}} <br>
                <br>
                <a href="{{ url_for('main.edit_profile') }}">
                        <button class="btn btn-default">Cambiar datos</button>
                </a>
            </div>  
                  
        </div>
    </div>
{% endblock %}